[submodule "dependencies/mysqlpool-cpp"]
	path = dependencies/mysqlpool-cpp
	url = git@github.com:jgaa/mysqlpool-cpp.git
[submodule "dependencies/logfault"]
	path = dependencies/logfault
	url = git@github.com:jgaa/logfault.git
[submodule "dependencies/date"]
	path = dependencies/date
	url = https://github.com/HowardHinnant/date.git
[submodule "dependencies/qcoro"]
	path = dependencies/qcoro
	url = https://github.com/danvratil/qcoro.git
[submodule "dependencies/expected"]
	path = dependencies/expected
	url = https://github.com/TartanLlama/expected.git
